@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.button-primary {
  background: #008977;
  color: #ffffff;
  padding: 0.5rem 1.25rem;
  border-radius: 0.375rem;
  transition: all 0.5s ease-in-out;

}

.button-primary:hover {
  background-color: #017061;
  transition: all 0.5s ease-in-out;
}

.button-secondary {
  background: #c20101;
  color: #ffffff;

  border-radius: 0.375rem;
  transition: all 0.5s ease-in-out;

}

.button-secondary:hover {
  background-color: #ad011d;
  transition: all 0.5s ease-in-out;
}

.small-button-primary {
  background: #008977;
  color: #ffffff;
  padding: 0.2rem 1rem;
  border-radius: 0.375rem;
  transition: all 0.5s ease-in-out;

}

.small-button-primary:hover {
  background-color: #017061;
  transition: all 0.5s ease-in-out;
}

.small-button-secondary {
  background: #c20101;
  color: #ffffff;
  padding: 0.2rem 1rem;
  border-radius: 0.375rem;
  transition: all 0.5s ease-in-out;

}

.small-button-secondary:hover {
  background-color: #ad011d;
  transition: all 0.5s ease-in-out;
}

.profile-image {
  border-radius: 9999px;
  outline: 1px solid rgb(255, 255, 255);
}

.text-box {
  @apply text-xl text-primary-t border-primary-b border-4 rounded-md p-2 focus:outline-none;
}

